<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
	Options +FollowSymlinks
	RewriteEngine on
	Options -Indexes
	RewriteCond %{HTTP_HOST} ^www\.(.*)
	RewriteRule (.*) http://%1/$1 [R=301,L]

	php_value upload_max_filesize 5M
	php_value memory_limit -1
</IfModule>
