/* background*/
.login{ background:  #7e6eb0   url(../../img/pdca_ss.png) no-repeat 15% 10% fixed; }

/* header styles */
.navbar-default,#navigation{background: #7e6eb0 !important }
li.light-blue{background:#A069C3 !important}
.ace-nav > li.light-blue > a {background:#ac9be1 !important}
.ace-nav > li.open.light-blue > a {background:#ac9be1 !important}
.ace-nav > li.purple > a {background:#ac9be1 !important}
.ace-nav > li.open.purple > a {background:#ac9be1 !important}
/* footer */
#footer{background:#9e8ecf;color:#fff}
#footer span, #footer span a{color:#fff}
#footer  a{color:#fff}

/* alerts */
.alert-block{background:#dfd8f3;border:1px solid #cec4f0;color:#555555; }
.page-header h1 {color: #7e6eb0;}
.breadcrumb > li > a { color: #7e6eb0; }
.blue { color: #7e6eb0 !important;}

/* contents */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-top:2px solid #7e6eb0 !important;}
.transparent .widget-toolbar > .nav-tabs > li.active > a {    border-top-color: #7e6eb0 !important; }

/* buttons */
.btn-info, .btn-info:focus {    background-color: #7e6eb0 !important;    border-color: #7e6eb0 !important;}
.btn-info, .btn-info[disabled]:focus{    background-color: #7e6eb0 !important;    border-color: #7e6eb0 !important;}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{background-color:#7e6eb0!important;border-color:#7e6eb0}
.btn-info, .btn-info:hover {    background-color: #7e6eb0 !important;    border-color: #7e6eb0 !important;}
.close{color:#7e6eb0; opacity:.7}
.btn.btn-primary{background: #7e6eb0 !important;}
.btn-primary, .btn-primary:focus,.btn-primary:hover{border-color:#7e6eb0}
.open .btn-info.dropdown-toggle{background:#7e6eb0 !important}
.btndrop, .btndrop:hover{border-left:1px solid #fff !important;}
/* headers */
h4{color:#7e6eb0}
h5{color:#7e6eb0}
/* links */
.name a{ color: #7e6eb0;}

/* boxes */
.box.box-bordered .box-title{border:2px solid #e4def9}
.box.box-bordered .slimScrollDiv{border-bottom:2px solid #e4def9;}
.box.box-bordered.box-color .box-title{background:#7e6eb0}
.box.box-bordered.box-color .box-title,.box.box-bordered.box-color .box-content,.box.box-bordered .box-content{border-color:#e4def9 !important; }
.slimScrollBar {background:#DBD6D6 !important;width:4px !important}

/* menus */
#navigation .main-nav > li > a:hover {  text-decoration: none;  background: #7e6eb0;}
#navigation .dropdown-menu > li > a:hover {  background: #7e6eb0;  color: #fff;  filter: none;}
#navigation .dropdown-menu {  border-top: 0;  border-color: #e4def9;}
#navigation .user .icon-nav > li > a:hover {  background: #7e6eb0;  text-decoration: none;}

/* search */
.ac_over {background-color: #7e6eb0;color: #ffffff;}
/* confirm */
.ui-widget-header{background:#7e6eb0}
/* profile box */
.label-info, .badge-info{background:#7e6eb0  !important}
.label-info.arrowed-in:before,.label-info.arrowed-in:after{border-color:#7e6eb0}
/* share screen 
.itemdiv.dialogdiv>.body{border-left:2px solid #7e6eb0}

.box .box-title h3{color:#7e6eb0 !important;}*/
.slimScrollBar{background:#7e6eb0 !important;}

/* in and out time */
.btn-time, .btn-time:focus{background-color:#ac9be1 !important;border-color: #907DD1 !important; border:1px solid #907DD1 !important}
.btn-time:hover{background:#7e6eb0 !important;border-color: #907DD1 !important; border:1px solid #907DD1 !important}
/* alert and profile tab */
.ui-dialog .ui-dialog-titlebar{background-color:#7e6eb0 !important;}
.nav-tabs.tab-color-blue>li>a, .nav-tabs.tab-color-blue>li>a:focus{background:  #7e6eb0 }
/* for loading */
.loading{color:#98A320;background:#FBFFD1;border:1px solid #ECF490}
.transparent .widget-toolbar>.nav-tabs>li>a:hover{border-bottom:2px solid #7e6eb0 }
/* for ticket status */
.label-satgreen_ticket {		background: #56af45 !important;	}
.label-blue_ticket {	  background: #368ee0 !important;	}
.label-lightred_ticket {	  background: #e63a3a !important;	}
.label-yellow_ticket {	  background: #faec0f !important;	}
.label-red_ticket {	  background: #faec0f !important;	}